.container-small-card {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 25px;
  border: 1px solid #ffffff3c;
  border-radius: 5px;
}
.container-small-card:hover {
  background-color: #ffffff3c;
}

h2 {
  font-size: 16px;
  background-color: transparent;
}
