<app-menu-title></app-menu-title>
<div class="container-articles">
  <div class="articles-main">
    <app-big-card
      bigImg="https://images.unsplash.com/photo-1520209759809-a9bcb6cb3241?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aW1nfGVufDB8fDB8fA%3D%3D&w=1000&q=80"
    ></app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card
      smallTitle="Título da notícia do small card 1"
      smallImg="https://static6.depositphotos.com/1002941/619/i/600/depositphotos_6192385-stock-photo-fantastic-yellow-sunset.jpg" id="1"
    ></app-small-card>
    <app-small-card
      smallTitle="Título da notícia do small card 2"
      smallImg="https://media-cdn.tripadvisor.com/media/photo-s/0f/34/3b/10/fim-de-tarde.jpg" id="2"
    ></app-small-card>
    <app-small-card
      smallTitle="Título da notícia do small card 3"
      smallImg="https://upload.wikimedia.org/wikipedia/commons/d/da/Pituba_de_noite.jpg" id="3"
    ></app-small-card>
  </div>
</div>
