<app-menu-title></app-menu-title>
<div class="container-articles">
  <app-small-card
    smallTitle="Python"
    id="1"
  ></app-small-card>
  <app-small-card
    smallTitle="C#"
    id="2"
  ></app-small-card>
  <app-small-card
    smallTitle="C++"
    id="3"
  ></app-small-card>
  <app-small-card
    smallTitle="JavaScript"
    id="4"
  ></app-small-card>
  <app-small-card
    smallTitle="PHP"
    id="5"
  ></app-small-card>
  <app-small-card
    smallTitle="Swift"
    id="6"
  ></app-small-card>
  <app-small-card
    smallTitle="Java"
    id="7"
  ></app-small-card>
  <app-small-card
    smallTitle="Go"
    id="8"
  ></app-small-card>
  <app-small-card
    smallTitle="SQL"
    id="9"
  ></app-small-card>
  <app-small-card
    smallTitle="Ruby"
    id="10"
  ></app-small-card>
</div>
<footer>Projeto simples para criação de um blog feito com Angular</footer>
